<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="xBimDevelop" value="https://www.myget.org/F/xbim-develop/api/v3/index.json" protocolVersion="3" />
    <add key="xBimMaster" value="https://www.myget.org/F/xbim-master/api/v3/index.json" protocolVersion="3" />
    <add key="xUnitMyGet" value="https://www.myget.org/F/xunit/api/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
