@{
    ViewData["Title"] = "Home Page";
}

<app>Loading...</app>
<a class="github-fork-ribbon" href="https://github.com/GeorgDangl/xbim-meets-angular" title="Fork me on GitHub">Fork me on GitHub</a>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
