#semantic-model-container {
    height: 100vh;
    width: auto;
    position: relative;
}
#viewer-container {
    height: 100vh;
    width: auto;
    position: relative;
    left: auto;
    right: auto;
}
#viewer-canvas {
    height: 100%;
    width: 100%;    
}
#semantic-descriptive-info-container {
    height: 100vh;
    width: auto;
    position: relative;
}
#btnLocate {
    right:27px;
}