<h1>xBim meets Angular!</h1>
<p>Welcome to this small demo site. It's designed to show the usage of the xBim WebUI framework in comination with Angular. The project is available at <a href="https://github.com/GeorgDangl/xbim-meets-angular" target="_blank">Github</a>.</p>
<p>It's been built with the following technologies to show how to integrate them:</p>
<ul>
    <li><a href="https://github.com/GeorgDangl/XbimWebUI">xBimWebUI</a> for client side BIM model visualization</li>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular 2</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='https://github.com/aspnet/JavaScriptServices/tree/dev/templates/Angular2Spa'>The Asp.Net Core Angular 2 Single Page Application Template</a> served as base for this website</li>
</ul>
